html,
body {
  margin: 0;
  height: 100%;
  background-color: black;
}

/* div {
      border: 0.1px solid white;
    } */

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
}

.titleContainer div {
  color: white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 1.4em;
}

.titleContainer img {
  max-height: 70%;
  max-width: 25vh;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.gameContainer > div {
  height: 100%;
}

.game {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 90%;
}

.villains_div {
  display: flex;
  flex-direction: row;
  position: absolute;
  flex-wrap: wrap;
  height: 300px;
  width: 1105px;
  max-height: 25%;
  max-width: 50%;
}

.heroContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.heroe_div {
  height: 9%;
  position: absolute;
  left: 575;
  top: 700;
}

.missile {
  width: 8px;
  height: 12px;
  background: lightskyblue;
  position: absolute;
}

.missileV {
  width: 8px;
  height: 12px;
  background: lightskyblue;
  position: absolute;
}

.heroe_div img {
  max-height: 9vh;
  max-width: 15vh;
}
